header {
    position: fixed;
    width: 100%;
    background-color: var(--cor-fundo);
    border-bottom: 3px solid var(--cor-borda);
}

.cabecalho {
    padding: 1em 0% 1em 5%;
    display: flex;
    align-items: center;
    font-family: var(--fonte-titulo);
    font-size: 0.625rem;
    color: var(--cor-fonte);
    gap: 6%;
}

.cabecalho__titulo{
    justify-content: left;
    font-size: 1.8rem;
}

.cabecalho__menu {
    display: flex;
    gap: 2em;   
}

.cabecalho__menu__link {
    font-size: 1.25rem;
    font-family: var(--fonte-titulo);
    text-decoration: none;
    color: var(--cor-fonte);
}

.cabecalho__logo{
    display: flex;
    align-items: center;
    gap: 1em;
}

.cabecalho__imagem{
    border-radius: 100%;
    height: 5em;
}
