.rodape {
    padding: 24px;
    color: var(--cor-fonte);
    font-family: var(--fonte-roda);
    position: 100%;
}

.rodape__texto {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}
.rodape__lista__link {
    font-size: 1.25em;
    color: var(--cor-fonte);
    text-decoration: none;
}

.rodape__lista {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0.5em;
    padding: 1em;
    margin-left: 1em;
    border-left: 1px solid var(--cor-borda);
}

hr{
    border: 1px solid var(--cor-borda);
}
