.texto {
    display: flex;
    flex-direction: row;
}

.coluna_primaria{
    gap: 1.5em;
    width: 60%;
    padding: 8% 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coluna_secundaria{
    gap: 1.5em;
    width: 20%;
    padding: 8% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto__conteudo, .texto__musica{
    padding: 2em;
    border-radius: 1em;
    background-color: var(--cor-card);
    gap: 0.75em;
    width: 100%;
}

.texto__conteudo {
    display: flex;
    flex-direction: column;
}

.texto__musica {
    display: flex;
    flex-direction: row;
}

.texto__titulo1 {
    font-size: 1.5em;
    font-family: var(--fonte-titulo);
    font-style: oblique;
}

.texto__paragrafo {
    font-style: italic;
    text-justify: distribute;
    font-size: 1.2em;
    font-family: var(--fonte-texto);
}

.texto__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.texto__link__botao {
    background-color: var(--cor-botao);
    width: 50%;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 1.2em 0;
    text-decoration: none;
    color: var(--cor-fonte);
}

.texto__titulo__musica {
    padding: 1em;
    font-size: 1em;
    font-style: oblique;
}

a:hover {
    background-color: var(--cor-press-botao);
}
