.texto {
    display: flex;
    flex-direction: row;
}

.coluna_primaria, .coluna_secundaria {
    gap: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coluna_primaria{
    width: 60%;
    padding: 8% 8% 0 8%;
}

.coluna_secundaria {
    gap: 1.5em;
    width: 20%;
    padding-top: 8%;
}

.img__coluna {
    width: 100%;
    border-radius: 1em;
}

.texto__conteudo {
    padding: 2em;
    border-radius: 1em;
    background-color: var(--cor-card);
    gap: 0.75em;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.texto__musica {
    display: flex;
    flex-direction: row;
}

.texto__lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.texto__lista__item {
    margin-bottom: 2em;
}

.texto__titulo1 {
    font-size: 1.5em;
    font-family: var(--fonte-titulo);
    font-style: oblique;
}

.texto__paragrafo {
    font-style: italic;
    text-justify: distribute;
    text-decoration: none;
    font-size: 1.2em;
    font-family: var(--fonte-texto);
    color: var(--cor-fonte);
}

.texto__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}

.texto__link__botao {
    background-color: var(--cor-botao);
    width: 50%;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 1em 0.1em;
    text-decoration: none;
    color: var(--cor-fonte);
}

.texto__titulo__musica {
    padding: 1em;
    font-size: 1em;
    font-style: oblique;
}



@media screen and (max-width: 1024px) {

    .texto {
        flex-direction: column;
        align-items: center;
        padding-top: 3em;
    }

    .coluna_secundaria{
        display: none;
    }

    .texto__lista{
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1em;
    }

    .texto__link__botao {
        width:auto;
        font-size: 1.25rem;
        text-decoration: none;
        color: var(--cor-fonte);
    }

    .texto__titulo__musica{
        padding: 0;
    }
}