{% extends 'template.html' %}
{% block conteudo%}
    <div class="coluna_primaria">
        <section class="texto__conteudo">
            <h1 class="texto__titulo1">Composições</h1>
            <p class="texto__paragrafo"><span>Bem-vindo ao núcleo pulsante da minha expressão musical. Nesta página,
                    convido você a explorar as nuances da minha criação, onde cada composição é uma janela para
                    minha jornada criativa e emocional.</span></p>
        </section>
        <section class="texto__conteudo texto__lista">
            <div class="container">
                {% if musicas %}
                    {% for musica in musicas %}
                    <div class="card {% if loop.first %} active {% endif %}">
                        <img class="background" src="{{url_for('static', filename=musica.url_foto)}}" alt="">
    
                        <div class="card-content">
                            <a href="{{musica.link}}" class="title">
                                <h3>{{musica.titulo}}</h3>
                            </a>
                        </div>
                        <div class="backdrop"></div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
        <section class="texto__conteudo texto__lista">
            <h3 class="texto__titulo1">João e Maria</h3>
            <div class="container">
            {% if musicas_JM %}
                {% for musica in musicas_JM %}
                <div class="card {% if loop.first %}active{% endif %}">
                    <img class="background" src="{{ url_for('static', filename=musica.url_foto) }}" alt="">

                    <div class="card-content">
                        <a href="#" class="title">
                            <h3>{{ musica.titulo }}</h3>
                        </a>
                    </div>
                    <div class="backdrop"></div>
                </div>
                {% endfor %}
            {% endif %}

        </section>
    </div>
{% endblock%} 